<div class="flex-grow min-h-0 flex flex-row w-full">
  <div class="w-[25%] h-full flex flex-col gap-1 overflow-auto">
    <%= for _ <- 1..10 do %>
      <.chat_list_item />
    <% end %>
  </div>
  <div class="flex-grow overflow-auto">
    <%= for {id, m} <- @streams.messages do %>
      <.chat_message_bubble id={id} user_id={m.user_id} text={m.text} />
    <% end %>
  </div>
</div>
