<header class="px-4 sm:px-6 lg:px-8 py-4 bg-flask flex justify-between">
  <p class=" text-white">
    Spokesman
  </p>
  
  <p class="text-white">
    v{Application.spec(:spokesman, :vsn)}
  </p>
</header>

<main class="flex-grow min-h-0 flex flex-col">
  <.flash_group flash={@flash} /> {@inner_content}
</main>
